* {
  font-family: Roboto, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 5em;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10em;
}

button {
  padding: 50px;
  background-color: lightblue;
  border-radius: 10px;
  font-weight: 600;
}

#score {
  font-size: 32px;
}

#feedback {
  font-size: 24px;
}
